<app-page-header [title]="'Dashboard'" [activeTitle]="'Home'" [title1]="'Dashboard'"></app-page-header>

<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-3 sm:col-span-6 col-span-12">
        <div class="box">
            <div class="box-body">
                <div class="flex gap-3 flex-wrap items-start justify-between">
                    <div class="flex-grow flex items-start sm:mb-0">
                        <div class="me-4">
                            <span class="avatar avatar-rounded bg-primary">
                                <i class="ti ti-wallet text-[1rem] text-white"></i>
                            </span>
                        </div>
                        <div>
                            <span class="block text-[#8c9097] dark:text-white/50">Commission Previous Year</span>
                            <span class="text-[1rem] font-semibold">23,89980.99</span>
                        </div>
                    </div>
                    <div>
                        <div id="total-invested">
                            <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                [xaxis]="chartOptions1.xaxis" [dataLabels]="chartOptions1.dataLabels"
                                [colors]="chartOptions1.colors" [fill]="chartOptions1.fill"
                                [markers]="chartOptions1.markers" [stroke]="chartOptions1.stroke"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-3 sm:col-span-6 col-span-12">
        <div class="box">
            <div class="box-body">
                <div class="flex gap-3 flex-wrap items-start justify-between">
                    <div class="flex-grow flex items-start  sm:mb-0">
                        <div class="me-4">
                            <span class="avatar avatar-rounded bg-secondary">
                                <i class="ti ti-arrow-big-up-line text-[1rem] text-white"></i>
                            </span>
                        </div>
                        <div>
                            <span class="block text-[#8c9097] dark:text-white/50">No Of Services</span>
                            <span class="text-[1rem] font-semibold">15</span>
                        </div>
                    </div>
                    <div>
                        <div id="total-investments">
                            <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                                [xaxis]="chartOptions2.xaxis" [dataLabels]="chartOptions2.dataLabels"
                                [colors]="chartOptions2.colors" [fill]="chartOptions2.fill"
                                [markers]="chartOptions2.markers" [stroke]="chartOptions2.stroke"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-3 sm:col-span-6 col-span-12">
        <div class="box">
            <div class="box-body">
                <div class="flex gap-3 flex-wrap items-start justify-between">
                    <div class="flex-grow flex items-start  sm:mb-0">
                        <div class="me-4">
                            <span class="avatar avatar-rounded bg-warning">
                                <i class="ti ti-wallet text-[1rem] text-white"></i>
                            </span>
                        </div>
                        <div>
                            <span class="block text-[#8c9097] dark:text-white/50">Total Commission</span>
                            <span class="text-[1rem] font-semibold">12,920.20<i
                                    class="ti ti-arrow-narrow-up ms-1 text-success"></i></span>
                        </div>
                    </div>
                    <div>
                        <div id="portfolio-value">
                            <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                                [xaxis]="chartOptions3.xaxis" [dataLabels]="chartOptions3.dataLabels"
                                [colors]="chartOptions3.colors" [fill]="chartOptions3.fill"
                                [markers]="chartOptions3.markers" [stroke]="chartOptions3.stroke"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-3 sm:col-span-6 col-span-12">
        <div class="box">
            <div class="box-body">
                <div class="flex gap-3 flex-wrap items-start justify-between">
                    <div class="flex-grow flex items-start sm:mb-0">
                        <div class="me-4">
                            <span class="avatar avatar-rounded bg-success">
                                <i class="ti ti-wallet text-[1rem] text-white"></i>
                            </span>
                        </div>
                        <div>
                            <span class="block text-[#8c9097] dark:text-white/50">Increment Rate</span>
                            <span class="text-[1rem] font-semibold">+12.08%<i
                                    class="ti ti-arrow-narrow-up ms-1 text-success"></i></span>
                        </div>
                    </div>
                    <div>
                        <div id="returns-rate">
                            <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart"
                                [xaxis]="chartOptions4.xaxis" [dataLabels]="chartOptions4.dataLabels"
                                [colors]="chartOptions4.colors" [fill]="chartOptions4.fill"
                                [markers]="chartOptions4.markers" [stroke]="chartOptions4.stroke"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-12  col-span-12">
        <div class="box">
            <div class="box-body">
                <div class="md:flex block flex-wrap items-center justify-between">
                    <div class="flex-grow">
                        <nav class="nav nav-pills nav-style-3 flex md:mb-0 mb-4" aria-label="Tabs">
                            <a class="nav-link text-defaulttextcolor !py-[0.35rem] !px-4 text-sm !font-medium text-center rounded-md hover:text-primary active"
                                id="portfolio-item" data-hs-tab="#Stocksportfolio" aria-controls="Stocksportfolio">
                                B2B SERVICES
                            </a>
                            <a class="nav-link text-defaulttextcolor !py-[0.35rem] !px-4 text-sm !font-medium text-center rounded-md hover:text-primary"
                                id="market-item" data-hs-tab="#Stocksmarket" aria-controls="Stocksmarket">
                                ONLINE SERVICES
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-12 col-span-12">
        <div class="tab-content">
            <div class="tab-pane show active !p-0 !border-0" id="Stocksportfolio" aria-labelledby="portfolio-item"
                role="tabpanel">

                <div class="grid grid-cols-12 gap-x-6">
                    @for(service of providedServices; track service.id) {
                    <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-2 sm:col-span-6 col-span-12">
                        <div class="box" (click)="goToService(service.id)">
                            <a href="javascript:void(0);" class="category-link secondary text-center">
                                <img [src]="service.icon" style="height: 60px;">
                                <p class="text-[0.875rem] mb-1 text-default font-semibold text-defaulttextcolor">
                                    {{service.value}}</p>
                            </a>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="tab-pane hidden !p-0 !border-0" id="Stocksmarket" aria-labelledby="market-item" role="tabpanel">
                <div class="grid grid-cols-12 gap-x-6">
                    <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-2 sm:col-span-6 col-span-12">
                        <div class="box">
                            <a href="javascript:void(0);" class="category-link primary text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="category-svg" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                                    <path d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z" opacity=".3"></path>
                                    <path
                                        d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z">
                                    </path>
                                </svg>
                                <p class="text-[0.875rem] mb-1 text-default font-semibold text-defaulttextcolor">UI/UX
                                    Design</p>
                            </a>
                        </div>
                    </div>
                    <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-2 sm:col-span-6 col-span-12">
                        <div class="box">
                            <a href="javascript:void(0);" class="category-link secondary text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="category-svg"
                                    enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                                    <g>
                                        <rect fill="none" height="24" width="24"></rect>
                                    </g>
                                    <g>
                                        <g opacity=".3">
                                            <path
                                                d="M6.71,18.71c-0.28,0.28-2.17,0.76-2.17,0.76s0.47-1.88,0.76-2.17C5.47,17.11,5.72,17,6,17c0.55,0,1,0.45,1,1 C7,18.28,6.89,18.53,6.71,18.71z M7.41,10.83L5.5,10.01l1.97-1.97l1.44,0.29C8.34,9.16,7.83,10.03,7.41,10.83z M13.99,18.5 l-0.82-1.91c0.8-0.42,1.67-0.93,2.49-1.5l0.29,1.44L13.99,18.5z M19.99,4.01c0,0-3.55-0.69-8.23,3.99 c-1.32,1.32-2.4,3.38-2.73,4.04l2.93,2.93c0.65-0.32,2.71-1.4,4.04-2.73C20.68,7.56,19.99,4.01,19.99,4.01z M15,11 c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C17,10.1,16.1,11,15,11z">
                                            </path>
                                        </g>
                                        <g>
                                            <path
                                                d="M6,15c-0.83,0-1.58,0.34-2.12,0.88C2.7,17.06,2,22,2,22s4.94-0.7,6.12-1.88C8.66,19.58,9,18.83,9,18C9,16.34,7.66,15,6,15 z M6.71,18.71c-0.28,0.28-2.17,0.76-2.17,0.76s0.47-1.88,0.76-2.17C5.47,17.11,5.72,17,6,17c0.55,0,1,0.45,1,1 C7,18.28,6.89,18.53,6.71,18.71z M17.42,13.65L17.42,13.65c6.36-6.36,4.24-11.31,4.24-11.31s-4.95-2.12-11.31,4.24l-2.49-0.5 C7.21,5.95,6.53,6.16,6.05,6.63L2,10.69l5,2.14L11.17,17l2.14,5l4.05-4.05c0.47-0.47,0.68-1.15,0.55-1.81L17.42,13.65z M7.41,10.83L5.5,10.01l1.97-1.97l1.44,0.29C8.34,9.16,7.83,10.03,7.41,10.83z M13.99,18.5l-0.82-1.91 c0.8-0.42,1.67-0.93,2.49-1.5l0.29,1.44L13.99,18.5z M16,12.24c-1.32,1.32-3.38,2.4-4.04,2.73l-2.93-2.93 c0.32-0.65,1.4-2.71,2.73-4.04c4.68-4.68,8.23-3.99,8.23-3.99S20.68,7.56,16,12.24z M15,11c1.1,0,2-0.9,2-2s-0.9-2-2-2s-2,0.9-2,2 S13.9,11,15,11z">
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                                <p class="text-[0.875rem] mb-1 text-default font-semibold text-defaulttextcolor">Digital
                                    Marketing</p>
                            </a>
                        </div>
                    </div>
                    <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-2 sm:col-span-6 col-span-12">
                        <div class="box">
                            <a href="javascript:void(0);" class="category-link warning text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="category-svg"
                                    enable-background="new 0 0 24 24" viewBox="0 0 24 24" id="swatchbook">
                                    <path opacity="0.2"
                                        d="M9 22H5a3.003 3.003 0 0 1-3-3V5a3.003 3.003 0 0 1 3-3h4a3.003 3.003 0 0 1 3 3v14a3.003 3.003 0 0 1-3 3z">
                                    </path>
                                    <path opacity="0.4"
                                        d="m20.293 6.535-2.828-2.828a3.004 3.004 0 0 0-4.243 0l-1.229 1.228c0 .022.007.043.007.065v14c0 .027-.007.052-.008.08l8.301-8.302a3.004 3.004 0 0 0 0-4.243z">
                                    </path>
                                    <circle cx="7" cy="17" r="1" opacity="1"></circle>
                                    <path opacity="1"
                                        d="m19.065 12.007-7.073 7.072c0-.027.008-.052.008-.079a3.003 3.003 0 0 1-3 3h10a3.003 3.003 0 0 0 3-3v-4a3 3 0 0 0-2.935-2.993z">
                                    </path>
                                </svg>
                                <p class="text-[0.875rem] mb-1 text-default font-semibold text-defaulttextcolor">Web
                                    Development</p>
                            </a>
                        </div>
                    </div>
                    <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-2 sm:col-span-6 col-span-12">
                        <div class="box">
                            <a href="javascript:void(0);" class="category-link success">
                                <svg xmlns="http://www.w3.org/2000/svg" class="category-svg"
                                    enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                                    <rect fill="none" height="24" width="24"></rect>
                                    <g opacity=".3">
                                        <path d="M10,5h4v14h-4V5z M4,11h4v8H4V11z M20,19h-4v-6h4V19z"></path>
                                    </g>
                                    <g>
                                        <path
                                            d="M16,11V3H8v6H2v12h20V11H16z M10,5h4v14h-4V5z M4,11h4v8H4V11z M20,19h-4v-6h4V19z">
                                        </path>
                                    </g>
                                </svg>
                                <p class="text-[0.875rem] mb-1 text-default font-semibold text-defaulttextcolor">Stocks
                                    &amp; Trading</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-12 gap-x-6">
    <div class="col-span-12">
        <div class="box">
            <div class="box-header justify-between">
                <div class="box-title mb-2 sm:mb-0">
                    Total Revenue
                </div>
                <div class="inline-flex rounded-md shadow-sm" role="group" aria-label="Basic example">
                    <button type="button"
                        class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary-full !text-white">1D</button>
                    <button type="button" class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary">1W</button>
                    <button type="button" class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary">1M</button>
                    <button type="button" class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary">3M</button>
                    <button type="button" class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary">6M</button>
                    <button type="button"
                        class="ti-btn-group !border-0 !text-xs !py-2 !px-3 ti-btn-primary !rounded-s-none">1Y</button>
                </div>
            </div>
            <div class="box-body">
                <div id="totalInvestmentsStats" class="chart-container">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-12 gap-6">
    <div class="xl:col-span-12 col-span-12">
        <div class="box custom-box">
            <div class="box-header">
                <div class="box-title">Full Calendar</div>
            </div>
            <div class="box-body">
                <div id="calendar2">
                  <div class="col-xl-10" id="external-events-1">
                    <div class="row text-center block sm:flex sm:justify-between flex-wrap">
                      <div class="col-md-4 text-left">
                        <div class="btn-group">
                          <div
                            class="btn btn-primary pl-3 pr-3"
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate"
                            (viewDateChange)="closeOpenMonthViewDay()"
                          >
                            <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
                          </div>
                          <div
                            class="btn btn-primary pl-3 pr-3"
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate"
                            (viewDateChange)="closeOpenMonthViewDay()"
                          >
                            <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
                          </div>
                          <div
                            class="btn btn-primary ml-2"
                            mwlCalendarToday
                            [(viewDate)]="viewDate"
                          >
                            Today
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h3 class="text-base">
                          {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
                        </h3>
                      </div>
                      <div class="col-md-4 text-right">
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            (click)="setView(CalendarView.Month)"
                            [class.active]="view === CalendarView.Month"
                          >
                            Month
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="setView(CalendarView.Week)"
                            [class.active]="view === CalendarView.Week"
                          >
                            Week
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="setView(CalendarView.Day)"
                            [class.active]="view === CalendarView.Day"
                          >
                            Day
                          </div>
                          <button
                            class="btn btn-raised btn-primary float-right"
                            (click)="addEvent()"
                          >
                            Add Event
                          </button>
                        </div>
                      </div>
                    </div>
        
                    <div class="row">
                      <div class="col-12"></div>
                    </div>
                    <br />
                     @switch (view) {
                      @case ('month')
                      {           <mwl-calendar-month-view
                        [viewDate]="viewDate"
                        [events]="events"
                        [activeDayIsOpen]="activeDayIsOpen"
                        [refresh]="refresh"
                        (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                      >
                      </mwl-calendar-month-view>}
                      @case ("week")
                       {<mwl-calendar-week-view
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [snapDraggedEvents]="false"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventDropped($event)"
                      ></mwl-calendar-week-view>}
                      @case ("day") {
                        <mwl-calendar-day-view
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [snapDraggedEvents]="false"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventDropped($event)"
                      >
                      </mwl-calendar-day-view>
                      }
                  
                    
                    } 
                    <div>
           

                    
                    </div>
                  </div>
             
        </div>
    </div>
    

</div></div></div>

<app-expansion-panel></app-expansion-panel>

<!-- End::row-3 -->